header{
    height: 250px;
    background-color: #58595B;
}

.picture{
    float: right;
    height: 250px;
    margin-right: 100px;
    overflow: hidden;
}

.picture > img{
    height: 390px;
    margin-top: -40px;
}

.title{
    color: #FFFFFF;
    margin-left: 108px;
    font-size: 46px;
    font-family: "Calibre-Semibold";
    padding-top: 35px;
}

.title > p{
    font-size: 19px;
    font-family: "Flavin";
}
.title > a{
    color: #FFFFFF !important; 
}

.blog-post-date{
    color: #f04031;   
}

.blog-post-title {
    font-family: "Calibre-Semibold";
    font-size: 40px;
}

.blog-post-subtitle{
    font-family: "Calibre-Semibold";
    font-size: 30px;
}

.archive {
    margin-top: 20px;
}

.archive-post-date{
    color: #f04031;   
}

.archive-post-title{
    margin-left: 40px;
    font-size: 18px;
}

.posts{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
    text-align: justify;
}

body
{
    height:100%;
    background-image: linear-gradient(bottom, #f04031 25%,  #F26130 82%);
    background-image: -o-linear-gradient(bottom, #f04031 25%, #F26130 82%);
    background-image: -moz-linear-gradient(bottom, #f04031 25%, #F26130 82%);
    background-image: -webkit-linear-gradient(bottom, #f04031 25%, #F26130 82%);
    background-image: -ms-linear-gradient(bottom, #f04031 25%, #F26130 82%);
}​
ul.posts li:first-child + li{
    margin-top: 70px;
}
ul.posts li:nth-child(n+1){
    margin-top: 70px;
}

ul.archive li:first-child + li{
    margin-top: 50px;
    border-bottom: 1px solid  #DDDDDD;
    padding-bottom: 10px;
}
ul.archive li:nth-child(n+1){
    margin-top: 50px;
    border-bottom: 1px solid  #DDDDDD;
    padding-bottom: 10px;
}

.right-panel{
    margin-top: 70px;
}
.right-panel h3{
    margin-top: 70px;
}

.recent-posts{
    padding: 0px;
}

.recent-posts li{
    border-bottom: 1px solid  #DDDDDD;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;


}
.recent-posts > li a{
    color: #f04031 !important;
}
.twitter-link{
    color:#F26130 !important;
}
p{
    font-size: 19px;
    text-align: justify;
}

.post-item{
    padding-left: 40px;
    padding-right: 40px;
    text-align: justify;
    margin-top: 70px;
}

.post{
    margin: 0px;
}
.pagination{
    width: 100%;
}
.pagination i{
    margin-left: 7px;  
    margin-right: 7px;
    vertical-align: initial;
    color: #909090;
}

.pagination a{
    color: #707070 !important;
}

.bio{
    margin-top: 50px;
    background: url('/images/pietro.png') no-repeat -9999px -9999px; 
}
.avatar{
    margin-top: 20px;
    margin-left: 50px;
    height: 200px;
    width: 200px;
    background-size: 100%;
    background-image: url('/images/pietro.png');
}

.avatar:hover{
    background-image: url('/images/pietro-super.png');    
}
ul li p > a{
    text-decoration: underline;
}
.post p > a{
    text-decoration: underline;
}

.posts > li > div > ul > li{
    margin-top: 0px !important;
    list-style: square;
}

div.post ul li{
    list-style: square;
}
