---
layout: default
title: Pietro Martinelli
---

<div id="home" class="row">
<div class="col-md-9">
<div class="row bio">
  <div class="col-md-4">
    <div class="avatar">
    </div>
  </div>
  <div class="col-md-8">
        <h2>
          Pietro Martinelli
        </h2>
        <ul class="list-inline tags">          
          <li>
            <a href="https://www.linkedin.com/in/pietromartinelli/">
              Linkedin
            </a>
          </li>
          <li>
            <a href="http://www.github.com/pietrom">
              Github
            </a>
          </li>
          <li>
            <a href="https://bitbucket.org/pietrom">
              BitBucket
            </a>
          </li>
          <li>
            <a href="https://gitlab.com/pietrom">
              GitLab
            </a>
          </li>
        </ul>
      
      <p>
        <em>Work in progress: insert content here...</em>
      </p>
  </div>
</div>
  
  </div>
  <div class="col-md-3">
    <div class="right-panel">
      <h3>Recent Posts</h3>
      <ul class="recent-posts">
        {% for post in site.posts offset: 0 limit: 5  %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<script>
  

</script>
