---
layout: default
---

<div id="home" class="row">
<div class="col-md-9">
  <ul class="posts">
    {% for post in paginator.posts offset: 0 limit: 10%}
      <li>
        <div class="blog-post-date">{{ post.date | date_to_string }}</div>
        <div class="blog-post-title">
            <a href="{{ post.url }}">{{ post.title }}</a>
        </div>
        <div class="blog-post-subtitle">
            {{ post.subtitle }}
        </div>
        <div>
            {{ post.content }}
        </div>
      </li>
    {% endfor %}
  </ul>
  </div>
  <div class="col-md-3">
    <div class="right-panel">
      <h3>Recent Posts</h3>
      <ul class="recent-posts">
        {% for post in site.posts offset: 0 limit: 5  %}
        <li>
          <a href="{{ post.url }}">{{ post.title }}</a>
        </li>
        {% endfor %}
      </ul>
     
    </div>
  </div>
</div>