{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="alternate" type="application/atom+xml" href="/atom.xml" title="drtesting.blog" />
      <link rel="shortcut icon" href="http://drtesting.codiceplastico.com/images/favicon.ico" />
      <link href="{{ root_url }}/favicon.ico" rel="icon">
      <link href="{{ root_url }}/css/screen.css" rel="stylesheet">
      <link href="{{ root_url }}/css/custom.css" rel="stylesheet">
      <meta property="og:url" content="{{ site.url }}">
      <meta property="og:title" content="{{ site.title }}">
      <meta property="og:description" content="">
      <meta property="og:image" content="{{ site.url }}/images/facebook.jpg">
  </head>
  <body>
    <nav id="navbar">
      <div id="navbar-content-container" class="container">
        <div id="navbar-content">
          <div id="navbar-header">
            <a id="navbar-brand" href="/">
              <div id="header-logo"></div>
            </a>
            <a id="navbar-logo" class="hidden-xs" href="/">
              <img src="/images/codiceplastico.png" alt="Pietro Martinelli">
            </a>
            <button id="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
          </div>
          <div id="navbar-collapse" class="collapse">
            <ul id="nav">
              <li>
                <a href="{{ root_url }}/archive.html">
                  Archive
                </a>
              </li>
              <li>
                <a href="{{ root_url }}/about.html">
                  About
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <div id="main" class="container">
    <header>
      <div class="picture">
        <img src="/images/pietro-super.png" alt="Pietro Martinelli" />
      </div>
      <div class="title">
        <a href="/">drtesting.blog</a>
        <p>
          Pietro Martinelli<br />
        </p>
      </div>

    </header>

      {{ content | expand_urls: root_url }}
      <div id="content-footer">
        {% if paginator.total_pages > 1 %}
        <div class="pagination">
        <div class="pull-left">
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="glyphicon glyphicon-chevron-left"></i>Older posts </a>
          {% endif %}
        </div>
        <div class="pull-right">
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Newer posts<i class="glyphicon glyphicon-chevron-right"></i></a>
          {% endif %}

        </div>
        </div>
        {% endif %}
    </div>
    <div id="footer-block">
      <footer id="footer" class="container">
        <div id="footer-content">
          <div id="footer-logo"></div>
          CodicePlastico - Pietro Martinelli
        </div>
      </footer>
    </div>
    <script>
      var domain = "{{ site.url }}";
    </script>
    {% include disqus.html %}

    <!-- endbuild -->
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149173-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());
    
      gtag('config', 'UA-149173-1');
    </script>
  </body>
</html>
