---
layout: default
---
<div class="row post-item posts">
        <div class="blog-post-date">{{ page.date | date_to_string }}</div>
        <div class="blog-post-title">{{ page.title }}</div>        
        <div class="blog-post-subtitle">{{ page.subtitle }}</div>

        <div class="post">
        {{ content }}
        </div>

        {% if site.disqus_short_name and page.comments == true %}
        <section id="comment">
            <h1 class="title">Comments</h1>
            <div id="disqus_thread" aria-live="polite">{% include /disqus_thread.html %}</div>
        </section>
        {% endif %}
</div>
